select.dropdown{
  width: auto;
  height: 50px;
  margin-left: 60px;
  scroll-margin-top: 50px;
  
  background-color: rgb(250, 242, 248);
  font-size:xx-large;
}

input.btn{
  width: auto;
  height: 50px;
  margin-left: 60px;
  scroll-margin-top: 50px;
  border-radius: 5px;
  color: white;
  background-color: #3CB371; 
  font-size: xx-large;

}

marquee{
  color: white;
  font-size: larger;
  background-color: rgb(2, 68, 43);
}

div.b{
  width: 80%;
  border: black;
  border-color: black;
  word-wrap: break-word;
  
}

p.b{
  width: 80%;
  border: black;
  border-color: black;
  word-wrap: break-word;
  
}

span.glow{
  position: relative;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 2em;
  letter-spacing: 3px;
  overflow: hidden;
  background: linear-gradient(90deg, rgb(29, 156, 4), rgb(246, 250, 7), rgb(245, 7, 7), rgb(5, 49, 247));
  background-repeat: repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}